@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family: 'Poppins', sans-serif;
}
.mainbody{
	min-height:100vh;
	width:100%;
	position:relative;
	top:49px;
}
header{
	width:100%;
	height:50px;
	background:#000;
 border:none;
 position:fixed;
 z-index:1111;
}
.logo{
	height:100%;
	width:25em;
	line-height:50px;
	padding:0px 80px;
	font-size:21px;
	font-weight:bold;
	float:left;
	color:#fff;
	font-family: 'Dancing Script', cursive;
}
nav{
	float:right;
	padding:0px 7px;
}
ul{
	display:flex;
	margin:0;
	padding:0;p
}
nav ul li{
	display:inline-block;
	list-style:none;
	line-height:50px;
	justify-content:space-between;
	font-size:11px;
	margin-right:10px;
}
nav ul li a{
	text-decoration:none;
	color:#fff;
	display:inline-block;
	padding:0px 15px;
	text-transform:uppercase;
}
nav ul li a:hover{
	color:#41E3FD;
}
nav ul li a.active{
	color:#41E3FD;
	border-bottom:2px solid #41E3FD;
}
nav ul li:nth-child(6){
	display:none;
}
footer{
	width:100%;
	height:30px;
	background:#000;
	position:relative;
	bottom:0;
	margin-top:3em;
}
footer p{
	line-height:30px;
	text-align:center;
	color:#fff;
	font-size:9px;
	opacity:0.7;
}

/*____________________________________________*/
/*______________  Content Coding  ____________*/
/*____________________________________________*/

.home{
	min-height:30em;
	width:100%;
	background:black;
	clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 25% 83%, 0% 98%);
	color:white;
	display:flex;
}
.home-sub{
	 min-height:100%;
	 width:50%;
	 /* border:1px solid red; */
}
.service{
	min-height:30em;
	width:100%;
}
.section-heading{
	height:5em;
	width:100%;
	text-align:center;
	text-transform:uppercase;
	display:flex;
}
.section-heading h4{
	  font-size:1.6em;
	  border-bottom:3px solid #41E3FD;
	  margin:0px auto;
	  text-align:center;
	  line-height:3.4em;
}

.section-content-box{
	 min-height:25em;
	 width:100%;
	 display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  grid-auto-flow: row;
	 margin-top:2em;
}
.service-name{
	height:15em;
	width:18em;
	margin:2.8em auto;
	background:#FAFAFA;
	transition:0.5s;
}
.service-name:hover .service-logo{
	  top:-18%;
}
.service-name:hover{
	  background:#262626;
	  color:#fff;
}
.service-logo{
	 height:4em;
	 width:4em;
	 position:relative;
	 top:-12%;
	 margin:0px auto;
	 transition:0.8s;
}
.service-logo img{
	height:100%;
	 width:100%;
}
.service-name h5{
	text-align:center;
}
.service-name p{
	text-align:center;
	font-size:10px;
	padding:15px;
}
.about{
	min-height:30em;
	width:100%;
	background: linear-gradient(90deg, #262626 0%, #000 83%);
	clip-path: polygon(0% 100%, 25% 83%, 100% 100%, 100%  18%, 26% 6%, 0% 20%); 
	border:1px solid black;
	display:flex;
}
.about-text{
	  min-height:25em;
	  width:50%;
}
.about-logo{
	 min-height:30em;
	  width:50%;
}
.about-logo h1{
	 color:#fff;
	 position:relative;
	 width:80%;
	 top:45%;
	 left:0%;
	 font-size:45px;
	 border-right:5px solid red;
	 text-align:right;
	 padding:0px 18px 0px 0px;
}
.about .about-text p{
	color:#fff;
	margin-top:6em;
	padding:20px 15px 30px 19px;
	font-size:15px;
	text-align:left;
	line-height:19px;
	opacity:0.9;
}

.gallery{
	min-height:30em;
	width:100%;
}
.section-content-box-image{
	 min-height:25em;
	 width:100%;
	 display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 10px;
  grid-auto-flow: row;
	 margin-top:2em;
	 margin-bottom:2em;
}
.Image-name{
	height:15em;
	width:18em;
	background:#FAFAFA;
	margin:auto;
}
.Image-name img{
	height:100%;
	width:100%;
}
.contact{
	min-height:30em;
	width:100%;
	background:black;
	color:#fff;
}
.contact-container{
	display:flex;
	margin-top:2em;
}
.contact-sub{
	min-height:23em;
	width:50%;
	overflow:hidden;
}
.contact-sub-in{
	height:50%;
	widyh:100%;
}
.contact-sub-in:nth-child(1){
	text-align:left;
	padding:5em 0em 0em 0em;
	width:100%;
}
.form{
	height:100%;
	width:200%;
	display:flex;
}
.form-sub{
	height:100%;
	width:100%;
	position:relative;
	transition:0.6s;
}
.contact-switch{
	height:2em;
	width:100%;
	text-align:center;	
}
span{
	line-height:2em;
	margin:0em 4.5em;
	font-weight:bold;
	cursor: pointer;
}
hr{
	width:50%;
	border:1px solid red;
	outline:none;
	position:relative;
	transition: 0.6s;
	background:red;
}
form{
	 margin:2em auto;
	width:60%;
}
form input{
		 					    outline:0;
		 					    background:none;
		 					    color:#fff;
		 					  
		 					    width:100%;
		 					    margin-bottom:1em;
		 					    padding:0.7em;
		 					    border-bottom:2px solid #41E3FD;		
		 					    border-top:none;		
		 					    border-right:none;		
		 					    border-left:none; 					    
		 					    transition:0.5s;
		 					    transition-property:width;
		 				}

form textarea{
		 					    outline:0;
		 					    background:none;
		 					    color:#fff;
		 					
		 					    width:100%;
		 					    margin-bottom:1em;
		 					    padding:0.7em;
		 					    border-bottom:2px solid #41E3FD;		
		 					    border-top:none;		
		 					    border-right:none;		
		 					    border-left:none; 					    
		 					    transition:0.5s;
		 					    transition-property:width;
		 				}
		 				
/*form input:hover{
		 					width:25em;		 				
		 				}
        form input:focus{
											width:25em;
        }*/
        			form textarea:hover{
		 					width:25em;		 				
		 				}
        form textarea:focus{
											width:25em;
        }
 form button{
        	outline:0;
		 					    background:none;
		 					    color:white;
		 					    text-transform:uppercase;
		 					    width:8em;
		 					    padding:5px;
		 					    border:2px solid #41E3FD;		
		 					   border-radius:25px;
		 					    cursor:pointer;
		 					    transition:0.1s;
		 		transition-property:background,transform;
        }
form button:hover{
	     background:#41E3FD;
	     color:#000;
}
iframe{
	border:none;
	height:90%;
	width:80%;
	margin-top: 0.8em;
}
.contact-sub-in i{
	font-size:20px;
	margin:9px;
}
.social{
	  height:3em;
  	width:100%;
  	text-align:center;
  	padding:10px;
  	margin-top:1em;
}
.social a{
	 text-decoration:none;
	 color: white;
	 margin:0px 15px;
}
.imgg{
	 height:70%;
	 width:90%;
	 margin:2em auto;
}
.homepara{
 	min-height:40%;
	 width:90%;
	 margin:4em auto;
	 border-left:1px solid #41E3FD;
	 padding:2em 1em;
}
.homepara p{
	margin:0em 1em;
	font-size:25px;
	text-transform:uppercase;
	line-height:0.1em;
}
.homepara p span{
		margin:0em 0em;
		color:#41E3FD;
		font-size:60px;
		letter-spacing:0.2em;
}
.msg{
	 height:3em;
	 width:3em;
	 position:fixed;
	 right:2%;
	 bottom:2%;
	 z-index:1111;
	 transform:translate(-50%,-50%);
	 border-radius:50%;
	 animation:rotate 10s linear 10;	 
}
.msg img{
	height:100%;
	 width:100%;
	 border-radius:50%;
}
@keyframes rotate {
	  0%{
	  	transform:rotate(0deg);
	  }
	  100%{
	  	transform:rotate(360deg);
	  }
}







 	.swiper-container {
 			 width: 100%; 
 			 height: 100%; 
 			 } 
 			 .swiper-slide { 
 			 text-align: center; 
 			 font-size: 18px;
 			  background: #000; 
 			  /* Center slide text vertically */ display: -webkit-box; 
 			  display: -ms-flexbox; 
 			  display: -webkit-flex; 
 			  display: flex; 
 			  -webkit-box-pack: center; 
 			  -ms-flex-pack: center; -webkit-justify-content: center;
 			   justify-content: center;
 			    -webkit-box-align: center;
 			     -ms-flex-align: center; -webkit-align-items: center; 
 			     align-items: center;
 			     color:#fff;
 			      }

.swiper-slide img{
	height:100%;
	 width:100%;
}




















/*____________________________________________*/
/*____________________________________________*/
/*____________________________________________*/
/*____________________________________________*/
/*________________  Responsive  ______________*/
/*____________________________________________*/
/*____________________________________________*/
/*____________________________________________*/
@media only screen and (max-width: 400px) {

span{
	line-height:2em;
	margin:0em 1em;
	font-weight:bold;
	cursor: pointer;
}
 .logo{
	height:100%;
	width:5em;
		padding:0px 10px;
}
.about-text p{
	font-size:0.5em;
padding:2px 3px 4px 10px;
}

.Image-name{
	height:3em;
	width:2em;
	background:#FAFAFA;
	margin:auto;
}

}
@media only screen and (max-width: 900px) {
	
 .logo{
	height:100%;
	width:13em;
		padding:0px 30px;
}
  nav{
	height:100vh;
	background:#000;
	position:relative;
	width:70%;
	transform:translateX(-750%); 
	transition:0.1s;
	opacity:1;
	z-index:999;
}
  ul{
 position:absolute;
	top:20%;
	left:50%;
	display:block;
}
nav ul li{
	list-style:none;
	line-height:50px;
	justify-content:space-between;
	font-size:11px;
	margin-bottom: 20px;
	text-transform:uppercase;
	display:block;
}  
nav ul li a.active{
	color:#41E3FD;
	border-bottom:2px solid #41E3FD;
}

  nav ul li:nth-child(6){
	display:initial;
}
  nav ul li a{
	text-decoration:none;
	color:#fff;
	flex-wrap:wrap;
	padding:0px 0px;
	text-align:center;
	font-size:18px;
	margin:10px;
	text-transform:uppercase;
	width:100%;
}
 nav ul li a:hover{
	background:none; 
	color:#41E3FD;
} 
  #toggel{
	  height:50px;
	  width:50px;
	  float:right;
	  margin-right:30px;
	  padding:10px;	 
}
#toggel div{
	width:30px;
	height:0px;
	border:2px solid #fff;
	margin:5px 5px;
	background: #fff;
}


/*____________________________________________*/
/*________Content Coding Redponsive___________*/
/*____________________________________________*/

.home{
	clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 25% 85%, 0% 95%);
	display:block;
}
.home-sub{
	 min-height:50%;
	 width:100%;
	 border:1px solid black;
}
.home-sub:nth-child(1){
	  min-height:30%;
}
.about{
	clip-path: polygon(0% 100%, 25% 89%, 100% 100%, 100% 15%, 26% 6%, 0% 15%); 
	display:block;
}
.about-text{
	  min-height:30em;
	  width:100%;
}
.about-logo{
	 min-height:3em;
	  width:100%;
}
.about-text{
	min-height:18em;
	width:100%;
}
.about-logo h1{
	 color:#fff;
	 position:relative;
	 top:45%;
	 left:0%;
	 margin-top:3em;
	 font-size:30px;
	 text-align:right;
	 padding:0px 20px 0px 0px;
}
.about .about-text p{
	margin-top:0em;
	font-size:11px;
	padding:2px 3px 4px 10px;

}
.section-heading h4{
	  font-size:1.5em;
	  line-height:4em;
}
.section-content-box{
  grid-template-columns: auto;
}
.section-content-box-image{
	grid-template-columns: auto auto;
}
.Image-name{
	height:10em;
	width:11em;
	background:#FAFAFA;
	margin:auto;
}
.contact-container{
	display:grid;
	grid-template-columns: auto;
}
.contact-sub{
	min-height:15em;
	width:100%;
}
.contact-sub:nth-child(2){
	display:flex;
	height:15em;
}
.contact-sub-in{
	width:50%;
	height:100%;
}
.contact-sub-in:nth-child(1){
		padding:0em 0.5em;
 	width:50%;
}
.contact-sub-in:nth-child(2){
	padding:3em 0em;
	width:50%;
}
.contact-sub-in p{
	font-size:14px;
}
.social a{
	 margin:0px 5px;
}
.imgg{
	 height:30%;
	 width:100%;
	 margin:2em auto;
}
.homepara{
 	min-height:30%;
	 width:50%;
	 margin-left:8em;
	 border-left:1px solid #41E3FD;	 
}
.homepara p{
	margin:0em 0.5em;
	font-size:19px;
	text-transform:uppercase;
}
.homepara p span{
		color:#41E3FD;
		font-size:50px;
		letter-spacing:0.1em;
}



















 } /* Responsive end t*/